<% content_for :title, "EventbriteLike" %>

      <!-- Jumbotron -->
      <div class="jumbotron" style="background-image: url('/jumbo.jpg');">
        <div class="container">
          <h1 class="display-3">EventbriteLike</h1>
          <h3>Rejoins ou ajoute tes évènements !</h3>
        </div>
      </div>

      <!-- Actual display of events -->
      <div class="container w-75">
        <!-- Example row of columns -->
        <div class="row">
          <% @events.each do |event| %>
            <div class="col-md-4 py-2">
              <div class="card h-100 border-secondary">
                <div class="card-body">
                  <h2 class="card-title"><%= event.title %></h2>
                  <h5 class="card-subtitle mb-2 text-danger"><%= event.display_start_date %></h5>
                  <p class="card-text"><%= event.description %></p>
                  <p><%= link_to 'View details', event, class: 'btn btn-info' %>
                  <p class='text-secondary'><%= event.location %></p>
                </div> <!-- /card-body -->
              </div> <!-- /card -->
            </div> <!-- /col-md-4 -->
          <% end %>
        </div> <!-- /row -->

        <hr>

      </div> <!-- /container -->

<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start date</th>
      <th>Duration</th>
      <th>Description</th>
      <th>Price</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <%# @events.each do |event| %>
      <tr>
        <td><%#= event.title %></td>
        <td><%#= event.start_date %></td>
        <td><%#= event.duration %></td>
        <td><%#= event.description %></td>
        <td><%#= event.location %></td>
        <td><%#= event.price %></td>
        <td><%#= link_to 'Show', event %></td>
        <td><%#= link_to 'Edit', edit_event_path(event) %></td>
        <td><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Event', new_event_path %>
-->
